.wrapper {
    width: 1160px;
}

section {
    width: 800px;
}

.js-tocc * {
    all: initial;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}
