.wrapper {
    width: 1160px;
}

section {
    width: 800px;
}

header li {
    display: block;
    float: none;
    width: auto;
    height: auto;
    border: none;
}

.js-toc ul,li,ol {
    width: initial;
    float: none;
    height: initial;
    border: 0px;
}
