/*
Default style from remark.js
https://github.com/gnab/remark
 */

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }


/*
hands-on style
 */
.hands-on {
    background:"#a1f4c5" !important;
}


/*
references
 */
.ref {
    font-size: 14px;
    color: grey;
}

/*
green text
 */
.green {
    font-weight: bold;
    color: green;
}

/*
bigger text
 */
.bigger {
    font-size: 130%;
}

/*
footer
 */
.footer {
    display: block;
    position: absolute;
    bottom: 0em;
    font-size: 80%;
    color: grey;
}

.footer > p {
    font-size: 12px;
}

/*
footnote
 */
.footnote {
  display: block;
  position: absolute;
  bottom: 1em;
  font-size: 80%;
}
